<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
xmlns:c="http://java.sun.com/xml/ns/javaee" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8"  >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>
            ArabDictionary
        </title>
    </head>
    <body>
        <header >
        <center><h3> <b>WillKommen zum Arabic-Deutsch Wörterbuch </b></h3></center> </header>
        <p>
            <form valign="left" th:action="@{/such}" modelAttribute="database" action="#"  method="post">
                <table >
                    <tr>
                        <td>
                            <label for="theTranslateToArabic"> Arabic   Wört </label>
                        </td>
                        <td>
                            <input class="theTranslateToArabic" id="theTranslateToArabic" type="text" name="theTranslateToArabic" size="20" path="theTranslateToArabic" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="theWorldInGerman"> Deutsch Wört </label>
                        </td>
                        <td>
                            <input class="theWorldInGerman" id="theWorldInGerman" type="text" name="theWorldInGerman" size="20" path="theWorldInGerman" />

                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            
                        </td>
                        <td width="50" height="50">
                            <label for="world1" ></label>

                            <textarea name="text" id="world1" cols="40" rows="10" ></textarea>
                        </td>
                    </tr>
                    <tr>
                       
                       <tr>

                       </tr>
                       <tr>

                       </tr>
                      <td>

                        </td>
                        <td align="right">
<!--                             <button type="button" > ترجم </button><br> -->
                            <input type="button"  onclick="location.href='/register.html'" value="Register" >
                        </td>
                    </tr>
                </table>





        </form>
        <button><a href="http://localhost:63342/dictionary/templates/adding.html?_ijt=g3vnp3fc6fgs6lt043t0vttpgo">add</a></button>


    </body>
</html>